BlackBishop RCDATA "BlackBishop.png" 
BlackKing RCDATA "BlackKing.png" 
BlackKnight RCDATA "BlackKnight.png" 
BlackPawn RCDATA "BlackPawn.png" 
BlackQueen RCDATA "BlackQueen.png" 
BlackRook RCDATA "BlackRook.png" 
WhiteBishop RCDATA "WhiteBishop.png" 
WhiteKing RCDATA "WhiteKing.png" 
WhiteKnight RCDATA "WhiteKnight.png" 
WhitePawn RCDATA "WhitePawn.png" 
WhiteQueen RCDATA "WhiteQueen.png" 
WhiteRook RCDATA "WhiteRook.png" 
